@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact us";
}
@section Styles {
    <link rel="stylesheet" href="~/css/contactus.css" />
}


<body>
    <h1>Contact Us</h1>
    <h4>We’d love to hear from you! Whether you’re curious about our AI gadgets, need support, or just want to say hi, the AiForce team is here for you.</h4>
    <a href="https://youtu.be/dQw4w9WgXcQ?si=UQkvumUIL5wsGuKB" class="button button-r">Email</a>
    <a href="https://youtu.be/F4vQ2gGohaM?si=jQxLZN6w7wOsREZq" class="buttong button-r">Whatsapp</a>
</body>
