@page
@model vs_project.Pages.SIgnUpModel
@{
}
<script src="~/js/checkValidity.js"></script>
<html>
<head>
    <style>

        h1 {
            margin-top: 100px;
            text-align: center;
            color: white;
        }

        input {
            margin-left: 50%;
            margin-top: 50px;
        }



        button.g {
            margin: 50px auto;
            background-color: #2dba4e;
            color: white;
            border-color: transparent;
        }

        input, button.g {
            display: block;
            margin: 20px auto;
            padding: 10px;
            width: 250px;
            font-size: 16px;
            border-radius: 16px;
        }

        .button.g:hover {
            background: linear-gradient(45deg, #2ede57, #2dba4e);
            transition-duration: 0.4s;
            transform: scale(1.1)
        }

        label {
            color: white;
            margin-left: 45%;
        }
        h6{
            color: red;
            text-align: center;
        }
        }
    </style>
</head>
<body>
    <h1>
        Sign Up
    </h1>

    <form method="post">

        @if (!string.IsNullOrEmpty(Model.msg))
        {
            <h6 class="error-message">@Model.msg</h6>
        }
        <div>

            <input type="text" id="username" name="username" placeholder="Enter new username" onkeyup="checkLogInValidity(this, 'login-msg')" required />
            <span id="login-msg" class="messages"></span>
            <input type="password" id="password" name="password" placeholder="Enter new password" onkeyup="checkLogInValidity(this, 'login-msg')" required />
            <span id="login-msg" class="messages"></span>
            <input type="text" id="Pname" name="Pname" placeholder="Enter first name" required />
            <input type="text" id="Fname" name="Fname" placeholder="Enter last name" required />
            
        </div>
        <div>
            <label for="isAdmin"> Are you an admin?</label>
            <input type="checkbox" id="isAdmin" asp-for="isAdmin" placeholder="Are you an admin?" />
        </div>
        <button type="submit" class="button g">Sign Up</button>
    </form>
</body>
</html>
